<div class="control-group">
  <label class="control-label" for="inputDescription">
    Question
  </label>
  <div class="controls">
    <textarea type="text" id="inputDescription" placeholder="Question text.."></textarea>
  </div>
</div>
<div>
  <button type="button" class="btn btn-provided-answers" data-toggle="button">
    Provided Answers
  </button>
</div>
<div class="provided-answers">
</div>
<div class="form-actions">
  <button type="submit" class="btn btn-primary btn-large btn-post" data-loading-text="saving...">
    Post
  </button>
  <button type="button" class="btn btn-link btn-cancel">
    Cancel
  </button>
</div>